.experience {
  background-color: #222222;
  margin-bottom: -12.5rem;
}

.vertical-timeline-element--education {
  border-top: 0.1rem solid #e9d35b;
}

.vertical-timeline-element--work {
  border-top: 0.1rem solid #e9d35b;
}
